{% extends 'base.html' %}

{% block content %}


<div class="row">

	<div class="col-md-5 pb-5 pt-3 bg-primary text-white px-5">
		<h2 class="display-4 pb-3">Level Measurement Application</h2>
		<h4 class="py-2 mt-4">1. Contact Information</h4>
		<h4 class="py-2">2. General Information</h4>
		<h4 class="py-2">3. Tank Material</h4>
		<h4 class="py-2">4. Process Conditions</h4>
		<h4 class="py-2">5. Instrument Specifics</h4>
	</div>

	<div class="col-md-7 bg-light">

		<h2 class="display-4 py-3 px-3">2. Tank Material</h2>
		
		<form class="px-3">
		  <div class="form-group">
		    <label for="exampleFormControlInput1">A. Vessel Height</label>
		    <input type="email" class="form-control" id="exampleFormControlInput1">
		  </div>

		  <div class="form-group">
		    <label for="exampleFormControlInput1">B. Vessel Width</label>
		    <input type="email" class="form-control" id="exampleFormControlInput1">
		  </div>

		  <div class="form-group">
		    <label for="exampleFormControlInput1">C. Max Fluid Level</label>
		    <input type="email" class="form-control" id="exampleFormControlInput1">
		  </div>

		  <div class="form-group">
		    <label for="exampleFormControlInput1">D. Minimum Fluid Level</label>
		    <input type="email" class="form-control" id="exampleFormControlInput1">
		  </div>

		  <div class="form-group">
		    <label for="exampleFormControlInput1">E. Process Connection</label>
		    <input type="email" class="form-control" id="exampleFormControlInput1">
		  </div>

		  <div class="form-group">
		    <label for="exampleFormControlInput1">F. Nozzel Diameter</label>
		    <input type="email" class="form-control" id="exampleFormControlInput1">
		  </div>

		  <div class="form-group">
		    <label for="exampleFormControlInput1">G. Nozzel Height</label>
		    <input type="email" class="form-control" id="exampleFormControlInput1">
		  </div>

		  <div class="form-group">
		    <label for="exampleFormControlInput1">H. Nozzel Center to Wall</label>
		    <input type="email" class="form-control" id="exampleFormControlInput1">
		  </div>

		   <div class="form-group">
		    <label for="exampleFormControlInput1">I. Alternate Process Connections</label>
		    <input type="email" class="form-control" id="exampleFormControlInput1">
		  </div>
		</form>

		<button type="button" class="btn btn-primary float-left mb-5"> < General Information</button>
		<button type="button" class="btn btn-primary float-right mb-5">Process Conditions > </button>
	</div>
</div>


{% endblock %}