
.bg-accblue {
	background-color:#1a6ea3;
}



.btn-flavor {
  background-color: #FF3500; /* Green */
  border-color:#551400;
  color:white;
}

.text-accblue {
	color:#1a6ea3;
}


#container {
  margin: 20px;
  height: 8px;
  position: relative;
}