{% extends "base.html" %}
{% load i18n %}
{% load static i18n %}
{% block head %}
{{ wizard.form.media }}
{% endblock %}

{% block content %}

<div class="row justify-content-md-center">
    <div class="col-md-8 form-container text-dark pb-5 bg-light">
        <h2 class="pt-5 text-center thin-head">Level Measurement Application</h2>
        <div id="container"></div>
        <div class="text-center">
            <p class="lead" id="counter">Step {{ wizard.steps.step1 }} of {{ wizard.steps.count }}</p>
        </div>
        <form class="app-form" action="" method="post">{% csrf_token %}
            {{ wizard.management_form }}
            {% block form %}
            {% endblock %}

            {% if wizard.steps.step1 == wizard.steps.count %}
            <input type="submit" class="btn btn-danger float-right mx-1" value="{% trans 'Submit' %}" />

            {% else %}
            <input type="submit" class="btn btn-danger float-right mx-1" value="{% trans 'Next' %}" />
            {% endif %}

            {% if wizard.steps.prev %}
            <button name="wizard_goto_step" class="btn btn-danger float-right mx-1" type="submit"
                value="{{ wizard.steps.prev }}" formnovalidate>{% trans "Previous" %}</button>
            <button name="wizard_goto_step" class="btn btn-danger float-right mx-1" type="submit"
                value="{{ wizard.steps.first }}" formnovalidate>{% trans "First" %}</button>

            {% endif %}
        </form>
    </div>
</div>
{% endblock %}