{% extends "base.html" %}

{% block content %}


	<div class="row">
		<div class="col-md-12 text-center">
			<h1 class="display-2 bd-text-blue">Product Application Forms</h1>
			<p class="lead">Help our team pick the right solution for your application</p>

			<div class="dropdown">
			  <button class="btn btn-flavor dropdown-toggle btn-flavor py-3" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
			    Select Your Application
			  </button>
			  <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
			    <a class="dropdown-item" href="#">Flow Measurement</a>
			    <a class="dropdown-item" href="/level-measurement/">Level Measurement</a>
			    <a class="dropdown-item" href="#">Pressure</a>
			    <a class="dropdown-item" href="#">Temperature</a>
			    <a class="dropdown-item" href="#">Valves</a>
			  </div>
			</div>
		</div>
	</div>



{% endblock %}